#API PRODUCTS URI
REACT_APP_PRODUCTS_URI=

#API RECIPES URI
REACT_APP_RECIPES_URI=

#App ID for Edamam Recipes API
REACT_APP_RECIPES_APP_ID=

#App key for Edamam Recipes API
REACT_APP_RECIPES_APP_KEY=

#App ID for Edamam Food Database API 
REACT_APP_PRODUCTS_APP_ID=

#App key for Edamam Food Database API
REACT_APP_PRODUCTS_APP_KEY=